@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-foreground: #f3f4f6;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}